:root{
    --navHeight: 7%;
    --navHeightUp: -7%;

    --green: rgb(25, 140, 25);
    --limegreen: rgb(50, 153, 50);
    --white: rgb(255, 255, 255);
}

body {
    background-color: rgb(41, 40, 40);
    font-family: Oswald, sans-serif;
    color: white;
    z-index: 1;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.accent {
    color: var(--green);
}


/* Nav Bar Content */
#navbar {
    display: flex;
    position: fixed;
    overflow: hidden;
    top: var(--navHeightUp);
    box-shadow: 0px 10px 5px rgb(0, 0, 0, 0.2);
    width: 100vw;
    height: var(--navHeight);
    background-color: rgb(17, 17, 17, 0.95);
    transition: top 0.3s;
    z-index: 1000;
    
}


#brandNav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 60%;
}

#brandNav > img{
    width: 40%;
    object-fit: cover;
}
#brandText{
    display: flex;
    flex-direction: column;
    }

#brandText > h1{
    height: 70%;
    margin-top: 0;
    margin-bottom: 0;
}
#brandText > h2{
    height: 30%;
    margin-top: 0;
    margin-bottom: 0;
}


#navButtons{
    height: 100%;
    width: 40%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}

#navButton{
    text-decoration: none;
    text-align: center;
    padding: 2%;
    font-size: 1vw;
    border-radius: 10%;
    transition: background-color 0.3s;
    cursor: pointer;
}

#navButton:visited{
    text-decoration: none;
    color:white;
}

#navButton:hover{
    background-color: rgba(255, 255, 255, .3);
}

.pageHeader {
    width: 100vw;
    height: 50vh;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}


.pageHeader > div {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0 ,0.6);
}

.pageHeader > div > h1 {
    font-size: 6vw;
    margin: 0;
}

.pageHeader > img {
    width: 150%;
    position: absolute;
    object-fit: cover;
    filter:blur(5px) brightness(75%);
    z-index: -1;
    transform: translateX(8%) translateY(15%);
}

.sectionHeader {
    width: 100%;
    text-align: center;
    font-size: 4vw;
    margin-bottom: 0;
}

#memberCards {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.teamMember {
    transition: transform 0.5s;
    background-color: rgb(54, 53, 53);
    overflow: hidden;
    text-align: center;
    width:40vh;
    height: 50vh;
    border-radius: 10%;
    margin: 5% 1% 0;
    box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.336);
}

.teamMember:hover{
    transform: rotateX(10deg) rotateY(-20deg);
    /*
    width: 32vw;
    height: 52vh; */
}

.teamMember > img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.teamMember > h3 {
    font-size: 180%;
    margin-bottom: 0%;
    margin-top: 4%;
}

.teamMember > p {
    margin-top: 1%;
}

