#teamIntro > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    margin-right: 5%;
    padding: 5%;
    width: 80%;
    background-color: rgb(31, 31, 31);
    box-shadow: 0px -5px 20px rgba(85, 85, 85, 0.5);
}

.memberCards {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.teamMember {
    transition: transform 0.5s;
    width:  400px;
    height: 600px;
    margin: 5% 1% 0;
    background-color: transparent;
    perspective: 1000px;
}

.cardInner{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

.cardFront, .cardBack {
    border-radius: var(--border-radius); 
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.336);
    background-color: rgb(54, 53, 53);

}

.cardFront {
    display: flex;
    flex-direction: column;
}

.cardBack {
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);
}

.cardBack > img {
    width: 150%; 
}

.cardFront > img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.cardFront > h3 {
    font-size: 40px;
    margin-bottom: 0%;
    margin-top: 6%;
}

.cardFront > p {
    font-size: 25px;
    margin-top: 1%;
}

.teamMember[data-card="front"]:hover {
    transform: rotateY(-20deg);
}
